/* * {
  border: 1px solid red;
} */

.internal-form-container, .button-container, .allPlayersContainer, .flex-center-container {
  display: flex;
  justify-content: center;
  width: 100%;
}



.player1-container, .player2-container {
  width: 30%;
  margin: 1rem;
  border: 2px solid #333;
  padding: 1rem;
}

.input-container {
  width: 30%;
  margin: 1rem;
}

.button-standard {
  cursor: pointer;
  display: block;
  width: 9rem;
  height: 3rem;
  margin: 1rem;
}

#victory-message-super-container {
  position: relative;
  /* border: 2px solid greenyellow; */
  display: none;
  width: 100vw;
  /* padding: 3rem; */
}

.victory-message-container {
  position: absolute;
  background-color: lightgray;
  border: 2px solid #333;
  border-radius: 6px;
  width: 100%;
  padding: 3rem;
}

.victory-message {
  text-align: center;
  font-size: 3rem;
}

.popup-button {
  cursor: pointer;
  position: absolute;
  top: 2px;
  right: 2px;
  border: 1px solid #333;
  background-color: #333;
  border-radius: 3px;
  color: #e3e3e3;
}
.popup-button:hover {
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
}
.popup-button:active {
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
  color: #ffffff;
}

.position-relative {
  position: relative;
}
.position-absolute {
  position: absolute;
}
.position-fixed {
  position: fixed;
}

/* .hidden {
  display: none;
} */